.general-exam-join{
    margin-top: 50px;
    .title{
      h4{
        color:#058ac6;
        margin-bottom: 20px;
      }
    }
    .general-exam-item{
          height: 378px;
    width: 84%;
    img{
      width: 100%;
      height: 100%;
    }
    }
    form{
      direction: ltr;
          padding-top: 52px;
      input{
          margin-bottom: 36px;
              padding: 24px 11px;
    box-shadow: 6px 2px 23px 1px #DDD;
    border: 0;
    border-radius: 7px;
      }
      input[type="submit"]{
        font-family: "CustomFontBold";
      }
      select{
            direction: ltr;
      }
      div.inline-input{
        width: 50%;
    float: left;
      }
    }
}




  // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
.general-exam-join{
  padding-top: 60px;
}
 }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) {
.general-exam-join{
  padding-top: 60px;
}
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {

 }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {

 }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

 }