.navbar-before .navbar-big {
    display: none;
}

.blue-ball {
    top: -46px;
    right: -43px;
    content: '';
    height: 97px;
    width: 100px;
    background: #098bc1;
    border-radius: 50%;
    border: 1px solid #098bc1;
}

.head-who h3 {
    text-align: center;
}

span:first-of-type {
    width: 12px;
    height: 12px;
    top: 14px;
    right: 4px;
}

span:nth-of-type(2) {
    width: 12px;
    height: 12px;
    top: 14px;
    left: 4px;
}

span {
    position: absolute;
    width: 20px;
    height: 20px;
    content: '';
    background: #058ac6;
    border: 1px solid #058ac6;
    border-radius: 50%;
}

span:nth-of-type(3) {
    top: 13px;
    left: 20px;
    height: 14px;
    width: 15px;
}

span:nth-of-type(4) {
    top: 10px;
    left: 40px;
}

span:nth-of-type(5) {
    top: 13px;
    right: 20px;
    height: 14px;
    width: 15px;
}

span:nth-of-type(6) {
    top: 10px;
    right: 40px;
}

.slider {
    min-height: 762px;
    background: url('../assets/imgs/header.png');
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
}

.title-who-we-are p {
    text-align: center;
    font-family: 'CustomFontRegular';
}

.main-content {
    padding: 168px 87px 0 0;
}

.main-content h1 {
    margin-bottom: 21px;
    font-size: 40px;
    font-family: 'CustomFontHeavy';
}

.main-content p {
    font-family: 'CustomFontRegular';
    font-size: 30px;
    font-weight: 600;
    opacity: 0.8;
    width: 83%;
}

.main-content .light-ball {
    width: 270px;
    height: 264px;
    position: absolute;
    background: #058ac67a;
    border: 1px solid #abd8ec36;
    opacity: 0.7;
    border-radius: 50%;
    right: -149px;
    bottom: -126px;
}

.head-who {
    position: relative;
    width: 300px;
    margin: 30px 0;
}

.who-we-are {
    position: relative;
    min-height: 330px;
    margin-top: 67px;
}

.who-we-are .background-who-we-are {
    position: absolute;
    top: 0;
    opacity: 0.1;
    left: 50%;
    transform: translate(-50%);
}

.who-we-are .logo-who-we-are {
    width: 100px;
    height: 100px;
    text-align: center;
    margin: auto;
}

.who-we-are .logo-who-we-are img {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.our-view .desc-image {
    width: 442px;
    margin: 177px 0;
}

.our-view .desc-image img {
    width: 100%;
    height: 100%;
    margin: 52px 0 0 0;
}

.our-view .desc-cont {
    margin-top: 110px;
}

.our-view .desc-cont h3 {
    font-family: 'CustomFontRegular';
    font-size: 44px;
    font-weight: bold;
}

.our-view .desc-cont p {
    font-size: 27px;
    width: 67%;
}

.view-cont.second {
    overflow: hidden;
    position: relative;
    min-height: 570px;
}

.our-view .view-cont {
    position: relative;
}

.our-view .view-cont .view-ball {
    position: absolute;
    right: -226px;
    top: 3px;
    width: 575px;
    height: 489px;
    background: #098bc1;
    border-radius: 50%;
}

.our-view .view-cont .view-ball .view-ball-inner {
    position: absolute;
    right: 25px;
    top: 24px;
    width: 509px;
    height: 443px;
    background: #098bc1;
    border-radius: 50%;
}

.second .desc-image,
.forth .desc-image {
    margin: 0;
    position: absolute;
    left: 0;
    height: 527px;
}

.second .desc-image img,
.forth .desc-image img {
    width: 100%;
    height: 98%;
    margin-right: 0;
    margin-top: -5px;
}

.send {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.title-who-we-are p {
    text-align: center;
    font-family: 'CustomFontRegular';
    font-weight: bold;
}

.second .desc-cont,
.forth .desc-cont {
    padding: 0 140px 0 0;
    margin: 85px 0;
}

.second .desc-cont h3,
.forth .desc-cont h3 {
    font-family: 'CustomFontRegular';
    font-size: 44px;
    font-weight: bold;
}

.second .desc-cont p,
.forth .desc-cont p {
    font-size: 27px;
    width: 67%;
}

.second .view-ball,
.forth .view-ball {
    left: -226px;
    right: auto !important;
}

.second .view-ball .view-ball-inner,
.forth .view-ball .view-ball-inner {
    left: 25px;
    right: auto !important;
}

.the-best .head-who {
    width: 264px;
}

.the-best .all-the-best-btn {
    margin: 51px 0;
    text-align: left;
}

.the-best .all-the-best-btn button {
    background: #058ac6;
    color: #fff;
    font-family: 'CustomFontBold';
}

.best-sort {
    margin-bottom: 50px;
}

.best-sort .user-sort-item {
    position: relative;
}

.best-sort .user-sort-item .profile-pic {
    margin: 118px 0 0;
    text-align: center;
}

.best-sort .user-sort-item .profile-pic span {
    display: inline-block;
    position: absolute;
    top: -50px;
    transform: translateY(-50%);
    z-index: -1;
    /* right: 50%; */
    background: none;
    border: 0;
    width: 100%;
    text-align: center;
}

.best-sort .user-sort-item .profile-pic>img {
    width: 200px;
    text-align: center;
    min-height: 200px;
}

.best-sort .user-sort-item .profile-pic .profile-cont h3 {
    text-align: center;
    margin: 10px 0;
}

.best-sort .user-sort-item .profile-pic .profile-cont h3:last-of-type {
    font-family: 'CustomFontLight';
    font-weight: bold;
    color: #a0a0a0;
    font-size: 24px;
}

.best-sort .user-sort-item .profile-pic .profile-cont-point {
    overflow: hidden;
    position: relative;
    // left: -55px;
    // width: 48%;
    transform: translate(-50%);
}

.best-sort .user-sort-item .profile-pic .profile-cont-point h6 {
    display: block;
    width: 50%;
    float: left;
    margin: 18px 0;
    font-size: 33px;
    color: #098bc1;
}

.best-sort .user-sort-item .profile-pic .profile-cont-point img {
    display: block;
    width: 47px;
    float: left;
}

.best-sort .first-student {
    transform: scale(1.11);
}

.best-sort .first-student span {
    top: -88px !important;
    right: 50%;
    transform: translate(16%) !important;
    margin: 0 -34%;
}

.download-app {
    background: url('../assets/imgs/download-bg.png');
    padding-bottom: 23px;
}

.download-app img {
    width: 100%;
}

.download-app .download-app-cont h3 {
    font-size: 43px;
    margin-top: 100px;
    margin-bottom: 38px;
}

.download-app .download-app-cont .head-who {
    width: 350px;
    margin-top: 116px;
}

.download-app .download-app-cont .head-who h3 {
    font-size: 39px;
}

.download-app .android-ios div {
    text-align: center;
}

.download-app .android-ios div img {
    width: 53px;
    height: 60px;
}

.download-app .android-ios .android {
    overflow: hidden;
    background: #333;
    color: #fff;
    font-family: 'CustomFontBold';
    font-size: 21px;
    padding: 14px 19px;
    border-radius: 7px;
}

.download-app .android-ios .ios {
    overflow: hidden;
    background: #333;
    color: #fff;
    font-family: 'CustomFontBold';
    font-size: 21px;
    padding: 14px 19px;
    border-radius: 7px;
}

.question-and-answer .head-who {
    width: 300px;
}

.question-and-answer .questions-sec .ques .ques-item {
    overflow: hidden;
    transition: all 0.3s linear;
    padding: 6px 18px;
    background: #f0f0f0;
    border-radius: 5px;
    margin: 10px 0;
    border: 1px dashed #ccc;
}

.question-and-answer .questions-sec .ques .ques-item h4 {
    font-size: 17px;
    margin-bottom: 11px;
}

.question-and-answer .questions-sec .ques .ques-item p {
    font-family: 'CustomFontRegular';
    color: #666;
    padding-top: 5px;
}

.question-and-answer .questions-sec .ques .ques-item .icon {
    text-align: left;
    margin: -3px 0;
}

.question-and-answer .questions-sec .ques .ques-item .icon button {
    background: none;
    border: 0;
    outline: 0;
}

.question-and-answer .ask-ques {
    box-shadow: 3px 1px 17px 0 #ddd;
    min-height: 294px;
    position: relative;
    border-radius: 15px;
}

.question-and-answer .ask-ques .ask-ques-head h4 {
    margin: 33px 0 0;
    font-size: 29px;
}

.send {
    position: absolute;
    bottom: 8px;
    width: 100%;
    padding: 10px 10px 0;
}

.send input {
    padding: 20px 11px;
    box-shadow: 2px 1px 16px 1px #ddd;
    border: 0;
}

.send img {
    position: absolute;
    height: 36px;
    top: 2px;
    left: 7px;
}

.partnars .partnars-item .partner>div {
    padding: 43px;
    box-shadow: 0 2px 13px 1px #ddd;
    border-radius: 14px;
}

@media (max-width: 575px) {
    .head-who {
        width: auto !important;
    }
    .navbar-before-small .nav-small .logo {
        width: 51px;
        float: right;
        height: 34px;
    }
    .home-page .question-and-answer .head-who {
        width: 227px;
    }
    .home-page .download-app .download-app-cont .head-who {
        width: 291px;
        margin-top: 116px;
    }
    .main-content {
        padding: 121px 27px 0 0;
    }
    .our-view .desc-cont {
        margin-top: 80px !important;
    }
    .our-view .desc-cont h3 {
        text-align: center;
    }
    .desc-cont p {
        width: 100% !important;
        text-align: center;
        padding: 10px;
    }
    .main-content p {
        font-size: 24px;
        text-align: center;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .wierd-paragraph {
        width: 100% !important;
    }
    .slider {
        background-size: 732px 629px;
        background-repeat: no-repeat;
        width: 100%;
        background-position: top;
        margin-top: -20px;
        min-height: 636px;
    }
    .home-page .our-view .desc-cont h3 {
        text-align: center;
    }
    .home-page .our-view .desc-cont p {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
        padding: 0 10px;
    }
    .desc-cont .wierd-paragraph {
        margin-bottom: 0 !important;
    }
    .second .desc-image,
    .forth .desc-image {
        margin: 0 0;
        position: static;
        left: 0;
        height: 381px;
        width: auto;
    }
    .home-page .our-view .desc-image {
        width: auto;
    }
    .home-page .our-view .desc-cont {
        margin-top: 0 !important;
        padding-right: 0;
        width: 100%;
        margin-bottom: 0;
    }
    // .home-page .second .desc-cont,
    // .home-page .forth .desc-cont {
    //     margin-top: -120px !important;
    // }
    .home-page .forth .desc-cont{
        margin-top: 24px !important
    }
    .home-page .main-content {
        padding: 150px 0 0 0;
    }
    .home-page .main-content h1 {
        text-align: center;
        font-size: 42px;
    }
    .home-page .main-content p {
        font-size: 24px;
        text-align: center;
        width: 100%;
    }
    .home-page .download-app .download-app-cont .head-who h3 {
        font-size: 30px;
    }
    .home-page .download-app .download-app-cont h3 {
        font-size: 29px;
    }
    .home-page .download-app .android-ios .android {
        margin-bottom: 30px;
    }
    .home-page .question-and-answer .questions-sec .ques .ques-item h4 {
        font-size: 9px;
        padding-top: 8px;
    }
    .home-page .question-and-answer .ask-ques {
        height: 433px;
        margin: 19px 0;
    }
    .home-page .question-and-answer .ask-ques .ask-ques-head h4 {
        margin: 0 0 20px;
        margin-top: 26px;
        font-size: 25px;
    }
    .second .desc-cont,
    .forth .desc-cont {
        padding: 0;
        margin: 119px 0 0;
        width: 100%;
    }
    .download-app .android-ios .android {
        margin-bottom: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .navbar-before-small .nav-small .logo {
        width: 68px;
        float: right;
        height: 59px;
    }
    .second .desc-cont,
    .forth .desc-cont {
        padding: 0;
        margin: 0;
        padding-top: 85px;
    }
    .second .desc-image,
    .forth .desc-image {
        margin: 0 0;
        position: static;
        left: 0;
        height: 381px;
        width: auto;
    }
    .home-page .our-view .desc-cont {
        margin-right: 0;
        margin-top: 226px;
        margin-bottom: 0;
    }
    .home-page .second .desc-image,
    .home-page .forth .desc-image {
        position: relative;
        width: auto;
    }
    .home-page .second .desc-image img,
    .home-page .forth .desc-image img {
        width: 100%;
        height: 638px;
    }
    .home-page .our-view .desc-image {
        width: auto;
    }
    .home-page .download-app .android-ios div {
        margin-bottom: 15px;
    }
    .ask-ques {
        margin-top: 34px;
    }
    .home-page .our-view .desc-cont {
        margin-top: 221px;
    }
    .home-page .question-and-answer .questions-sec .ques .ques-item h4 {
        font-size: 14px;
        padding-top: 5px;
    }
    .home-page .our-view .desc-cont h3 {
        text-align: center;
    }
    .home-page .our-view .desc-cont p {
        width: 100%;
        text-align: center;
        margin-bottom: 80px;
        padding: 0 10px;
    }
    .home-page .second .desc-cont,
    .home-page .forth .desc-cont {
        padding: 0;
    }
    .desc-cont {
        margin-top: 0 !important;
    }
    .home-page .second .desc-cont,
    .home-page .forth .desc-cont {
        margin-top: 200px !important;
    }
    .wierd-paragraph {
        margin-bottom: 0 !important;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .question-and-answer .questions-sec .ques .ques-item h4 {
        font-size: 11px;
    }
    .question-and-answer .questions-sec .ques .ques-item {
        height: 44px;
        padding: 13px 18px;
    }
    .question-and-answer .questions-sec .ques .ques-item .icon {
        margin: -6px 0;
    }
    .download-app .android-ios div {
        font-size: 11px;
    }
    .second .desc-cont p,
    .forth .desc-cont p {
        width: 100% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .download-app .android-ios div {
        font-size: 15px;
    }
    .second .desc-cont,
    .forth .desc-cont {
        padding: 0;
        margin: 0;
        margin-top: 156px;
    }
    .home-page .download-app .android-ios div {
        font-size: 13px;
    }
    .download-app .android-ios div {
        font-size: 15px;
    }
    .test-image-div {
        height: 497px;
    }
    .test-image-div .desc-image img {
        height: 100% !important;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {
    .test-image-div {
        height: 497px;
    }
    .test-image-div .desc-image img {
        height: 100% !important;
    }
}