.point-datails{
    margin-top: 50px;
    .title{
          color: #058ac6;
      margin-bottom: 26px;
    }
  
  }
  .question-point-cont{
        overflow: hidden;
      padding: 10px 15px;
      background: #e8e8e8;
      border-radius: 5px;
          margin-bottom: 10px;
      h6{
       margin: 0;
      width: 70%;
      color: #646464;
      float: left;
      padding: 10px 0;
      }
      >span{
           width: 30%;
      float: left;
      display: block;
      text-align: left;
      span{
        font-family: "CustomFontBold";
      font-size: 25px;
      color: #0989c3;
      }
      img{
        width: 30px;
      margin-top: -15px;
      }
      }
    }
  
  
  
  // Extra small devices (portrait phones, less than 576px)
  @media (max-width: 575.98px) {
  .point-datails{
    padding-top: 60px;
  }
   }
  
  // Small devices (landscape phones, 576px and up)
  @media (min-width: 576px) and (max-width: 767.98px) {
  .point-datails{
    padding-top: 60px;
  }
   }
  
  // Medium devices (tablets, 768px and up)
  @media (min-width: 768px) and (max-width: 991.98px) {
  
   }
  
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) and (max-width: 1199.98px) {
  
   }
  
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  
   }